.bgr_green {
    background-image: linear-gradient(134deg, #0C0091 0%, #00A87E 100%);
    padding-bottom: 4rem;
}

.bgr_gray {
    background-color: #f4f4f4;
    padding: 1rem 0 1.5rem 0;
}

.bgr_blue {
    background-color: #0a007e;
    padding: 1rem 0 1.5rem 0;
}

.color-title {
    color: #847fbe;
}

.title-base {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

